.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
extension.js
eslint.config.mjs
jsconfig.json
CHANGELOG.md
node_modules/**
